@import 'config';
@import 'menu';


* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

// headings
h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: white;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    // height: 100%;
    min-height: calc(100vh - 60px);

    .icons {
        margin-top: 1rem;

        a { 
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 35px;
    grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
    }
    
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }
    
    .job-1 {
        grid-area: job1;
    }
    .job-2 {
        grid-area: job2;
    }
    .job-3 {
        grid-area: job3;
    }
    
    .job {
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
    }
}

//Work/ projects
.post-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	grid-gap: 0.7rem;
	transform: perspective()
}

.post{
    cursor: pointer;
	position: relative;       
    display: block;
    
    &-image {
        margin: 0;

        img{
            width: 100%;
            vertical-align: center;
        }
    }

    &-overlay {
        background: rgba(0, 0, 0, .4);
        position: absolute;
        align-items: center;
        justify-content: center;
        text-align: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 97%;
        width: 100%;
        opacity: 0;
        @include easeOut;

        &:hover{
            opacity: 1;
        }
    }
    &-likes {
        width: 97%;
        margin: 5px; 
        display: inline-block;
        justify-content: center;
    }
}

//contact boxes
.boxes {
    margin: 70px 0;
    position: relative;
        

}
.light-box { background-color: darken($primary-color, 10); box-shadow: 0px 3px 0px 0px $secondary-color; padding: 20px 20px; }
.light-box:hover, .light-box:focus {box-shadow: 0px 3px 0px 0px $secondary-color; }
.box-hover { transition: all 500ms ease-in-out; -webkit-transition: all 500ms ease-in-out; -moz-transition: all 500ms ease-in-out; -o-transition: all 500ms ease-in-out; }
.box-hover:hover, .box-hover:focus { transform: translate(0, -15px); -webkit-transform: translate(0, -15px); -ms-transform: translate(0, -15px); }


#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 68px;
}

@import 'mobile';